h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color: black;
    background-color: wheat;
    border-radius: 40px;
}

img{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 184px;
    height: 216px;
    border: 5px solid wheat;
}

img:hover{
    border: 5px solid goldenrod;
}

p
{
  margin:0;
  padding:0;
  font-size:15px;
}

.column {
    float: right;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

td{
    text-align: center;
    border: 2px solid wheat;
    border-radius: 10px;
    width: 33.33%;
    font-family: 'Brush Script MT';
    font-size: 25px;
    background-color: wheat;
    border: 3px solid goldenrod;
}

th{
    border: 3px solid wheat;
    border-radius: 10px;
    font-family: 'Brush Script MT';
    font-size: 35px;
    background-color: goldenrod;
}

button{
    background-color: wheat;
    border: none;
    color: black;
    padding: 10px 128px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Arial';
}

button:hover{
    background-color: goldenrod;
    color: white;
}

.row{
    display: flex;
}

.column{
    flex: 33.33%;
    padding: 5px;
}

section{
    float:right;
    width: 70%;
    padding: 10px;
}

nav{
    float: right;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.joon{
    border-left: 3px solid wheat;
    height: 700px;
    position: absolute;
    left: 30%;
}