button{
    background-color: wheat;
    border: none;
    color: black;
    padding: 5px 128px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Arial';
}

button:hover{
    background-color: goldenrod;
    color: white;
}

tr > th{
    text-align: center;
    border: 2px solid wheat;
    border-radius: 10px;
    width: 20%;
    font-family: 'Brush Script MT';
    font-size: 15px;
    background-color: wheat;
    border: 3px solid goldenrod;
}

tr > td{
    text-align: center;
    border: 2px solid wheat;
    border-radius: 10px;
    width: 20%;
    font-family: 'Brush Script MT';
    font-size: 25px;
    background-color: wheat;
    border: 3px solid goldenrod;
}

table {
    width: auto;
    margin: auto;
}